git+https://github.com/CainanD/av2-api-sm.git
git+https://github.com/JonathonLuiten/TrackEval.git
anthropic
transformers
accelerate
google-genai
pathos
ipykernel
huggingface_hub
pycocotools
tabulate

torchvision
numpy
Pillow
pyyaml
pyarrow
shapely>=2.0

#Needed for visualizations
#pyvista
#vtk
#imageio
#imageio-ffmpeg
#--extra-index-url https://wheels.vtk.org vtk-egl